html {
  scroll-behavior: smooth;
}

body{
  display: flex;
  flex-direction: column;
}

main{
  display: flex;
  flex-direction: row;
  flex: auto;
}
article{
  flex: 2;
  overflow-y: auto;
}
aside{
  flex: 1;
  overflow-y: auto;
}

#introduction{ 
  text-align: center;
}
#introduction p{
  font-size: 1.3em
}

#portfolio h3{
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
#portfolio div{
  margin: 5px;
  padding: 4px;
  max-height: 280px;
}
#portfolio img{
  max-width: 200px;
}
#portfolio p, h4{
  max-width: 250px;
}
#portfolio div{
  display: block;
  float: left;
  margin-bottom: 40px;
}
